project_name: '${project_name}'
repositories:
${repositories}
story_types:
${story_types}
pipeline:
  max_feedback_rounds: ${max_feedback_rounds}
  max_remediation_rounds: ${max_remediation_rounds}
  exploration_mode: ${exploration_mode}
  verify_layers:
${verify_layers}
